<h4 class="mt-4">Komentarze</h4>

@if (comments.length > 0) {
  <div class="list-group mb-3">
    @for (c of comments; track c._id) {
      <div class="list-group-item">

        <div class="d-flex justify-content-between align-items-center">
          <strong>{{ c.author }}</strong>
          <small class="text-muted">
            {{ c.createdAt | date:'short' }}
          </small>
        </div>

        <p class="mb-2 mt-2">
          {{ c.text }}
        </p>

        @if (c.author === auth.login) {
          <button
            type="button"
            class="btn btn-sm btn-outline-danger"
            (click)="deleteComment(c._id)">
            Usuń
          </button>
        }

      </div>
    }
  </div>
} @else {
  <p class="text-muted">Brak komentarzy. Bądź pierwszy!</p>
}

@if (auth.isLoggedIn()) {
  <div class="card p-3 mt-3">
    <h6>Dodaj komentarz</h6>

    <form (ngSubmit)="addComment()">
      <textarea
        class="form-control mb-2"
        rows="3"
        [(ngModel)]="newText"
        name="text"
        placeholder="Napisz komentarz..."
        required>
      </textarea>

      <button
        class="btn btn-primary btn-sm"
        [disabled]="!newText.trim()">
        Dodaj
      </button>
    </form>
  </div>
} @else {
  <p class="text-muted mt-3">
    Zaloguj się, aby dodać komentarz.
  </p>
}
